<%- include('header') %>
<div class="content-wrapper">

<div class="center-layout">

    <form method="post">

        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
    
        <label for="description">Description</label>
        <textarea name="description" id="description" required></textarea>
    
        <label for="image">Image (url)</label>
        <input type="text" name="image" id="image" required>
    
        <label for="myScore">My score</label>
        <input type="number" name="myScore" id="myScore" min="0" max="100" required value="0">
    
        <input type="submit" value="Add movie">
    </form>
    
</div>
</div>
<%- include('footer') %>


