<%- include('header') %>
<div class="content-wrapper">
    <div class="center-layout">

        <form method="post" autocomplete="off"> 
    
            <label for="name">Email</label>
            <input type="text" name="email" id="email" required aria-autocomplete="none">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required aria-autocomplete="none">
        
            <input type="submit" value="Login">
        </form>
        
    </div>
</div>

<%- include('footer') %>
