<%- include("header") %>

    <%- include("nav") %>

    <main style="position: relative">
        <div class="header">
            <h2>Profile</h2>
        </div>

        <section class="profile">
            <h1>This account doesn’t exist. Try searching for another.</h1>
        </section>

    </main>

    <%- include("aside") %>
    
<%- include("footer") %>