/* General reset to remove default margin and padding from the body element */
body {
    margin: 0;
    padding: 0;
    /* font modern */
    font-family: 'Roboto', sans-serif;
}

html {
    min-height: 100%;
}

/* Make the page-container a flex container */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Make the content-wrapper grow to take up all available space */
.content-wrapper {
    flex:1 ;
    /* container for better readability */
    width: 80%;
    margin: 0 auto;

}

.header {
    background-color: #dc3545;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Style your footer as desired */
.footer {
    background-color: #dc3545;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.sitename {
    font-size: 2em;
    font-weight: bold;
}

.navbar {
    /* modern lighter red */
    background-color: #a41725;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.navbar .tabs {
    flex: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;

}

.navbar a:hover {
    background-color: #dc3545;
    color: white;
    padding: 10px;

}

.navbar a.active {
    background-color: #dc3545;
    color: white;
    padding: 10px;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.image-left-and-text-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.llama {
    width: 400px;
    height: 400px;
    margin: 10px;
}

.image-left-and-text-right div {
    margin: 10px;
    flex: 1;
}

.movie-card {
    width: 300px;
    height: 350px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.movie-card img {
    width: 100%;
    height: 280px;
    object-fit: scale-down;
    object-position: top;
}
.movie-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px black, -2px -2px 4px black, -2px 2px 4px black, 2px -2px 4px black;
}
.star-rating {
    padding: 10px;
}
.star {
    font-size: 24px;
}
.filled-star {
    color: gold;
}
.unfilled-star {
    color: gray;
}
.movie-card-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

.movie-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
    object-fit: cover;
}

.movie-detail-description {
    padding: 20px;
    font-size: 1.2em;

}

.custom-button {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    margin: 10px;

}

.custom-button a {
    color: white;
    text-decoration: none;
}

.center-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


form {
    width: 50%;
    background-color: #f4f4f4;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    font-size: 1.1em;
    margin: 0 0 5px;
}

input[type="password"],
input[type="text"],
textarea,
input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #dc3545;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:#9a111f;
}

input[type="text"]:focus,
textarea:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #777;
}




.success-message {
    margin: 20px;
    background-color: #f3f9d7;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: green;
}