<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar" /><br/>
    <input type="file" name="gallery" multiple /><br/>
    <input type="submit" value="Upload" />
</form>