<%- include('header') %>
<div class="content-wrapper">

<div class="image-left-and-text-right">
  <img src="lmdb.png" class="llama">
  <div class="text">
    <h2>What is the Llama Movie Database?</h2>
    <p>The Llama Movie Database is a website where you can find information about your favorite movies.</p>

    <h2>How do I use it?</h2>
    <p>Click on the "Movies" link in the navigation bar to see a list of movies. Click on a movie to see more information about it.</p>
  </div>
</div>

</div>

<%- include('footer') %>
